<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Поиск книг</h2>
<form method="get">
    <input type="text" name="q" placeholder="Введите название" value="{{ query }}">
    <button type="submit">Найти</button>
</form>

<hr>

{% for book in page_obj %}
  <div>
    <h3>{{ book.title }}</h3>
    <p>{{ book.description|truncatechars:100 }}</p>
  </div>
{% empty %}
  <p>Книги не найдены.</p>
{% endfor %}

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page=1">Первая</a>
    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Назад</a>
  {% endif %}

  <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Вперёд</a>
    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">Последняя</a>
  {% endif %}
</div>

</body>
</html>