<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильтрация по тегам</title>
</head>
<body>
    <h1>Продукты</h1>
<div>
    <a href="{% url 'product_list' %}">Все</a>
    {% for tag in tags %}
        <a href="?tag={{ tag.name }}">#{{ tag.name }}</a>
    {% endfor %}
</div>
<ul>
    {% for product in products %}
        <li>{{ product.title }} — {{ product.description }}</li>
    {% empty %}
        <li>Нет товаров</li>
    {% endfor %}
</ul>
</ul>

</body>
</html>